.parent{
    background-color: bisque;
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    height: 300px;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
}





.child{
    border: 2px solid black;
    padding: 5px;
    background: brown;
    font-size: 30px;

}